# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
*.playground/timeline.xctimeline
*.playground/playground.xcworkspace

# macOS
.DS_Store
